.advantage {
   padding-top: 17px;
   // height: 602px;
   display: flex;
   justify-content: space-between;
   column-gap: 46px;

   &__text {
      padding-top: 30px;
      max-width: 615px;
   }
   &__header {
      font-weight: 600;
      font-size: 40px;
      line-height: 63px;
      color: #000000;
      span {
         padding: 0;
         margin: 0;
         font-weight: 800;
         font-size: 50px;
         line-height: 63px;
         text-transform: uppercase;
         color: #E33E54;
      }
   }
   &__list {
      margin-top: 39px;
      padding-left: 54px;
      ul {
         color: #000000;
         li {
            max-width: 513px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 24px;
            list-style-type: none;
            position: relative;
         }
         li::before {
            content: '';
            position: absolute;
            background: #EA6628;
            width: 9px;
            height: 9px;
            border-radius: 100%;
            left: -17px;
            top: 7px;
         }
      }
   }
   &__image {
      overflow: visible;
      // margin-right: -160px;
      background-image: url("../../assets/images/advantage/advantage.svg");
      background-repeat: no-repeat;
      width: 100%;
      img {
         max-width: 100%;
         height: auto;
         width: 100%;
         width: 776px;
         height: 541px;
      }
   }
}