section.advantage
   .advantage__text
      .advantage__header Lorem ipsum dolor sit amet<br>
         h1 Lorem ipsum
      .advantage__list
         ul 
            li Доступные цены
            li Собственное производсвто  Дымоходов
            li Выполнение необходимых работ, связанных с установкой камина, печи, котла
            li Гарантия (от трёх до десяти лет)
            li Работаем чисто, аккуратно, убираем за собой, не сквернословим
            li Только русские квалифицированные специалисты
            li Устанавливаем любые дымоходы всех производителей
   .advantage__image 
      img(src="../assets/images/advantage/advantage.svg", alt="advantage")
      