mixin social
   .header-social(class=attributes.class)
      a(href="!#", class="header__number")
         img(src="../assets/images/mixin/vk.svg", alt='logo')
      a(href="!#", class="header__number")
         img(src="../assets/images/mixin/telegram.svg", alt='logo')
      a(href="!#", class="header__number")
         img(src="../assets/images/mixin/instagram.svg", alt='logo')
      a(href="!#", class="header__number")
         img(src="../assets/images/mixin/whatsapp.svg", alt='logo')

mixin header
   .header__divider
      .divider
      .header__text 
      block