section.installation
   +header 
      h2.header__text Процесс выполнения монтажа
   .installation__list
      .installation__column1 
         .installation__item
            span 1 
            p Рассчёт предварительной заявки
         .installation__item
            span 2 
            p Замер объекта нашим инженером
         .installation__item
            span 3 
            p Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
      .installation__column2
         .installation__item
            span 4 
            p Изготовление Дымохода, покраска (если требуется)
         .installation__item
            span 5 
            p Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
         .installation__item
            span 6 
            p Гарантийное обслуживание по соответствующем сроку
