
@import 'base/fonts';
@import 'base/globals';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';

.container {
   max-width: 1248px;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   padding-left: 15px;
}

.header-social {
   width: 115px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.consultation-social {
   // width: 23px;
   height: 23px;
   margin: 0 auto;
   margin-top: 31px;
   width: 202px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   filter: invert(47%) sepia(67%) saturate(2116%) hue-rotate(346deg) brightness(96%) contrast(91%);
}
.footer-social {
   width: 205px;
   margin-top: 25px;
}

.header__divider {
   .divider {
      height: 5px;
      width: 74px;
      background: #E33E54;
   }
   .header__text {
      margin-top: 11px;
      font-weight: 600;
      font-size: 40px;
      line-height: 49px;
      color: #000000;
   }
}

// main {
//    margin: 0 auto;
//    width: 1218px;
// }

h1, h2, h3 {
   margin: 0;
   padding: 0;
}

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   margin: 0;
}

ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}

li {
   list-style: none;
}

p {
   margin-top: 0;
   margin-bottom: 0;
}

a {
   color: inherit;
   text-decoration: none;
   transition: color 0.3s ease;
}

button {
   padding: 0;
   background-color: transparent;
   border: 0;
   cursor: pointer;
}