
@import 'base/fonts';
@import 'base/globals';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';

.container {
   max-width: 1248px;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   padding-left: 15px;

}

.header-social {
   max-width: 115px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}



.consultation-social {
   // width: 23px;
   height: 23px;
   margin: 0 auto;
   margin-top: 31px;
   width: 202px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   filter: invert(47%) sepia(67%) saturate(2116%) hue-rotate(346deg) brightness(96%) contrast(91%);
}
.footer-social {
   width: 205px;
   margin-top: 25px;
}


.header__text {
   height: 65px;
   padding-top: 11px;
   font-weight: 600;
   font-size: 40px;
   line-height: 60px;
   color: #000000;
   position: relative;
}
.header__text::before {
   position: absolute;
   content: "";
   height: 5px;
   width: 74px;
   background: #E33E54;
   top: 0;
   left: 0;
}



// .header__divider {
//    .divider {
//       height: 5px;
//       width: 74px;
//       background: #E33E54;
//    }
//    .header__text {
//       margin-top: 11px;
//       font-weight: 600;
//       font-size: 40px;
//       line-height: 49px;
//       color: #000000;
//    }
// }

// main {
//    margin: 0 auto;
//    width: 1218px;
// }

h1, h2, h3 {
   margin: 0;
   padding: 0;
}

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   margin: 0;
}

ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}

li {
   list-style: none;
}

p {
   margin-top: 0;
   margin-bottom: 0;
}

a {
   color: inherit;
   text-decoration: none;
   transition: color 0.3s ease;
   margin: 0;
   padding: 0;
}

button {
   padding: 0;
   background-color: transparent;
   border: 0;
   cursor: pointer;
}


@media (max-width: 768px) {
   .header__container {
      max-width: 768px;
      flex-wrap: nowrap;
   }

   .header {
      padding-bottom: 24px;
      &__logo {
         width: 64px;
         height: 62px;
         img {

            width: 100%;
            height: 100%;
            width: 64px;
            height: 62px;
            // width: 64px;
            // height: 62px;
         }
      }
      &__nav {
         display: none;
      }
      &__contacts {
         display: none;
      }
      &__number {
         display: none;
      }
      &__burger {
         min-width: 56px;
         min-height: 56px;
         order: 3;
      }
      &__widgets {
         margin-left: auto;
         padding-right: 21px;
      }
      &__theme {
         margin-right: 21px;
      }
   }

   .navigation {
      &__head {
         font-size: 45px;
         line-height: 55px;
      }
      &__links {
         margin-top: 30px;
      }
      &__desqr{
         padding-top: 60px;
      }
   }


}

@media (max-width: 320px) {
   .container {
      max-width: 320px;
   }

   .header__container {
      padding-top: 16px;
      align-items: flex-start;
   }
   .header {
      // padding-bottom: 16px;
      &__burger {
         min-width: 44px;
         min-height: 44px;
         margin-left: 22px;
      }
      &__theme {
         min-width: 44px;
         min-height: 44px;
      }
      &__widgets {
         display: none;
         padding-right: 16px;
         .widget__item {
            display: none;
         }
      }
      &__logo {
         img {
            width: 48px;
            height: 47px;
         }
      }
      .widget {
         width: 44px;
         height: 44px;
      }
      .widget__item.element {
         display: flex;
         width: 44px;
         height: 44px;
         margin-right: 0px;
      }
   }
   
   .navigation {
      &__head {
         padding-top: 41px;
         font-size: 30px;
         line-height: 37px;
      }
      &__links {
         margin-top: 10px;
         padding: 8px 0 9px 0;
         display: flex;
         flex-wrap: wrap;
         row-gap: 0px;
      }
      &__desqr{
         padding-top: 16px;
         font-size: 14px;
         line-height: 26px;
      }
   }


}




.dark {
   background-color:#000;
}
.white {
color: #fff;
}

.white-span {
   span {
      color: #fff;
   }
}

.element-dark {
   a {
      img {
         filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(171deg) brightness(103%) contrast(103%);
      }
   }
}

// p, li, h1, h2 {
//    color: #fff;
// }
// ul {
//    color: #fff;
// }

// html {
//    color: white;
// }