
@import 'base/fonts';
@import 'base/globals';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';

.container {
   margin: 0 auto;
   width: 1218px;
}

.header-social {
   width: 115px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.consultation-social {
   // width: 23px;
   height: 23px;
   margin: 0 auto;
   margin-top: 31px;
   width: 202px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   filter: invert(47%) sepia(67%) saturate(2116%) hue-rotate(346deg) brightness(96%) contrast(91%);
}
.footer-social {
   width: 205px;
   margin-top: 25px;
}

.header__divider {
   .divider {
      height: 5px;
      width: 74px;
      background: #E33E54;
   }
   .header__text {
      margin-top: 11px;
      font-weight: 600;
      font-size: 40px;
      line-height: 49px;
      color: #000000;
   }
}

main {
   margin: 0 auto;
   width: 1218px;
}