section.navigation
   h1.navigation__head Монтаж дымоходов
   ul.navigation__links
      li.navigation__link
         a(href="#!") Главная
      li.navigation__link.active
         a(href="#!") Монтаж дымоходов
   //- .navigation__links
   //-    .navigation__main Главная
   //-    .navigation__arrow
   //-       img(src="../assets/images/navigation/rightArrow.svg", alt="")
   //-    .navigation__installation Монтаж дымоходов
   p.navigation__desqr
      | В 
      span Дымоход.ру 
      | вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
