section.navigation
   .navigation__links
      .navigation__main Главная
      .navigation__arrow
         img(src="../assets/images/navigation/rightArrow.svg", alt="")
      .navigation__installation Монтаж дымоходов
   .installation__desqr
      | В 
      span Дымоход.ру 
      | вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
