.header__container {
   max-width: 1815px;
   // padding: 0 72px 0 63px;
   // min-height: 97px;
   padding-top: 26px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   flex-wrap: wrap;
}
.header {
   // padding-top: 22px;
   // padding-bottom: 19px;
   margin: 0 auto;
   // margin-top: 26px;
   padding: 0 15px 0 15px;
   // min-height: 97px;
   // max-width: 1785px;
   width: 100%;
   flex-wrap: wrap;
   &__logo {
      // width: 100px;
      // height: 97px;
      img {
         width: 100px;
         height: 97px;
      }
   }
   &__burger {
      min-width: 56px;
      min-height: 56px;
      border: 1px solid #4C858B;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__nav {
      max-width: 625px;
      width: 100%;

   }
   &__list {
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 16px;
      line-height: 23px;
      color: #4C858B;
      flex-wrap: wrap;
   }
   &__link {
      list-style-type: none;
   }

   .burger {
      position: relative;
      &__items {
         width: 22px;
         height: 22px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         // padding: 2px 0;
            span {
               width: 22px;
               height: 2px;
               background-color: #4C858B;
               border-radius: 1px;
            }
            span::after {
               position: absolute;
               content: "";
               width: 22px;
               height: 2px;
               background: #4C858B;
               top: 1px;
               right: 0;
               border-radius: 1px;
            }
            span::before {
               position: absolute;
               content: "";
               width: 22px;
               height: 2px;
               background: #4C858B;
               bottom: 1px;
               right: 0;
               border-radius: 1px;
            }
      }
   }

   &__contacts {
      max-width: 387px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 70px;
   }
   &__number {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.08em;
      color: #4C858B;
      text-decoration: none;
      span {
         font-weight: 700;
         font-size: 16px;
         line-height: 20px;
         color: #000000;
      }
   }
   &__callback {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
      color: #AE2236;
      border-bottom: 1px dashed #AE2236;
   }
   &__theme {
      min-width: 56px;
      min-height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #E5E5E5;
      border-radius: 100%;
      button {
         img {
            width: 27px;
            height: 27px;
            filter: invert(47%) sepia(23%) saturate(627%) hue-rotate(137deg) brightness(95%) contrast(95%);
         }
      }
   }
   .widget {
      display: flex;
      justify-content: space-between;
      max-width: 200px;
      width: 100%;
      // flex-wrap: wrap;
      &__item {
         width: 56px;
         height: 56px;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 1px solid #E5E5E5;
         border-radius: 100%;
      }
      .element {
         position: relative;
         margin-right: 2px;
         &:before {
            content: '10';
            position: absolute;
            top: 0.5px;
            right: -1.5px;
            width: 21px;
            height: 21px;
            background: #E33E54;
            border-radius: 100%;
            font-family: 'Lato';
            font-weight: 800;
            font-size: 11px;
            line-height: 13px;
            color: #FFFFFF;
            text-align: center;
            line-height: 21px;
         }
      }
   }
}
.white {
   color: #fff;
}