include ../../views/helpers/mixins
footer.footer 
   .container 
      .footer__content
         .footer__information.information 
            .information__head КАТАЛОГ
            ul.information__list 
               li.information__item 
                  a(href="#!") Дымоходы
               li.information__item
                  a(href="#!") Дымососы
               li.information__item
                  a(href="#!") Печи для дома
               li.information__item
                  a(href="#!") Печи для бани
               li.information__item
                  a(href="#!") Камины
               li.information__item
                  a(href="#!") Силикат кальция
               li.information__item
                  a(href="#!") Котлы
               li.information__item
                  a(href="#!") Ещё
         .footer__catalog.catalog
            .catalog__head ИНФОРМАЦИЯ
            ul.catalog__list 
               li.catalog__item
                  a(href="#!") Каталог
               li.catalog__item
                  a(href="#!") Установка и монтаж
               li.catalog__item
                  a(href="#!") Отзывы
               li.catalog__item
                  a(href="#!") Ликвидация товара
               li.catalog__item
                  a(href="#!") Полезное
               li.catalog__item
                  a(href="#!") Контакты
               li.catalog__item
                  a(href="#!") Оплата и доставка
         .footer__time.time 
            .time__head ВРЕМЯ РАБОТЫ
            .time__shedule.shedule 
               .shedule__image
                  img(src="../assets/images/footer/clock.svg", alt="clock")
               .shedule__clock пн-пт   
                  span  9:00 – 20:00 
                  |  сб-вс  
                  span 10:00 – 18:00
            .time__location.location
               .location__image 
                  img(src="../assets/images/footer/location.svg", alt="location")
               .location__text Санкт - Петербург ,ул. Тамбасова д.7
            +social(class='footer-social')
               


