section.reasons
   +header 
      p.header__text Почему Дымоход.ру?
   .reasons__descr В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
   .reasons__card.card 
      .card
         .card__image 
            img(src="../assets/images/reasons/guarantee.svg", alt="guarantee")
         .card__name Большой гарантийный срок
         .card__descr Крепёж, стыковка элементов – 
            span 
               |10 лет<br>
            |Сквозная коррозия труб – 
            span 5 лет<br>
            |Гидроизоляция – 
            span 3 года<br>
      .card
         .card__image 
            img(src="../assets/images/reasons/architect.svg", alt="architect")
         .card__name Помощь в покупке агрегата 
         .card__descr (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
      .card
         .card__image 
            img(src="../assets/images/reasons/review.svg", alt="review")
         .card__name Реальные отзывы клиентов
         .card__descr Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.

