section.work
   +header 
      h2.header__text Фото выполненных работ
   p.work__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   .work__image
      a(href="#!") 
         img(src="../assets/images/work/Rectangle1.jpg", alt="work")
      a(href="#!") 
         img(src="../assets/images/work/Rectangle2.jpg", alt="work")
      a(href="#!") 
         img(src="../assets/images/work/Rectangle3.jpg", alt="work")
      a(href="#!") 
         img(src="../assets/images/work/Rectangle4.jpg", alt="work")
      a(href="#!") 
         img(src="../assets/images/work/Rectangle5.png", alt="work")
      a(href="#!") 
         img(src="../assets/images/work/Rectangle6.jpg", alt="work")
      a(href="#!") 
         img(src="../assets/images/work/Rectangle7.jpg", alt="work")
      a(href="#!") 
         img(src="../assets/images/work/Rectangle8.jpg", alt="work")
      //- img(src="../assets/images/work/Rectangle2.jpg", alt="work")
      //- img(src="../assets/images/work/Rectangle3.jpg", alt="work")
      //- img(src="../assets/images/work/Rectangle4.jpg", alt="work")
      //- img(src="../assets/images/work/Rectangle5.png", alt="work")
      //- img(src="../assets/images/work/Rectangle6.jpg", alt="work")
      //- img(src="../assets/images/work/Rectangle7.jpg", alt="work")
      //- img(src="../assets/images/work/Rectangle8.jpg", alt="work")