@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
}